<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
            <title><%= event.name %> Event</title>
	</head>
	<body>
            <% include partials/nav.ejs %>
            <h1> <%= event.name %> Event</h1>
            <h1> Code: <%= event.code %> </h1>
	</body>
</html>
