<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Index</title>
	</head>
	<body>
            <% include partials/nav.ejs %>
            <h1> Welcome to ArcScan </h1>
            <p><a href="student"> I am a student </a>
            <p><a href="organization"> I am an organization </a>        
	</body>
</html>
