<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8" />
		<title>Index</title>
	</head>
	<body>
            <% include partials/nav.ejs %>
            <h1> Welcome to ArcScan </h1>
            <p><a href="/student/input"> I am a student </a></p>
            <p><a href="/org/dashboard"> I am an organization </a>        
	</body>
</html>
