<!DOCTYPE html>
<html>
	<head>
        <link rel='shortcut icon' type="image/png" href="/images/ArcScan.png">
        <meta charset="utf-8" />
		<title>Index</title>
	</head>
	<body>
        <% include partials/nav.ejs %>
        <div id="index-title"> 
            <div class="wrap">
                    <h1 class="logo">Arc<span style="color: white">Scan</span><a href="/"><span style="position:absolute;width:100%;height:100%;top:0;left: 0; z-index: 1;"></span></a></h1>
                <p>Register your attendence for society events quickly and flawlessly.</p>
            </div>
        </div>
        <div id="index-links"> 
            Login or sign up as a:<br>
            <div class="wrap">
                <a href="/student/input"><p><i class="fas fa-graduation-cap"></i></p>Student</a>
                <a href="/org/dashboard"><p><i class="fas fa-calendar-alt"></i></p>Society</a>
            </div>
            <footer id="footer">
                <div class="wrap">
                    Making sure the societies you love get the funding they deserve
                </div>   
            </footer>
        </div> 
	</body>
</html>


