<!DOCTYPE html>
<html>
    <head>
        <title>Organization</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <button onclick="location.href='/createEvent'"> Create New Event </button>
        <ul>
        <% for (let i = 0; i < events.length; i++) { %>
        <li><a href="/event/<%= events[i].id %>"><%= events[i].name %></a></li>
        <% } %>
        </ul>
    </body>
</html>
