<!DOCTYPE html>
<html>
    <head>
        <title>Organization</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <% if (user) { %>
            <p> <a href="/auth/logout"> Log Out </a></p>
        <% } else {%>
            <p> <a href="/org/orgLogin"> Login </a></p>
        <% } %>   
        <p><a href="/org/event/createEvent"> Create New Event </a></p>
        <table>
            <thead>
                <th> Event Name </th>
                <th> Actions </th>
            </thead>
        <% for (let i = 0; i < events.length; i++) { %>
            <tr>
                <td>
                    <a href="/org/event/id/<%= events[i].id %>"><%= events[i].name %></a>
                </td>
                <td>
                    <a href="/org/event/id/<%= events[i].id %>/delete">Delete</a>
                </td>
            <tr>
        <% } %>
        </table>
        </ul>
    </body>
</html>
