<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Organization Login</title>
        <link rel='shortcut icon' type="image/png" href="/images/ArcScan.png">
	</head>
	<body>
        <% include partials/nav.ejs %>
        <div id="login-container"> 
            <div class="login-blocks login-right" class="">
                    <h1 class="logo">Arc<span style="color: white">Scan</span><a href="/"><span style="position:absolute;width:100%;height:100%;top:0;left: 0; z-index: 1;"></span></a></h1>
                <% if (client === undefined || client.type === 'user') { %>
                    <p> Hey, we noticed you're not signed in as a Society! </p>
                <% } %>
                <p>Haven't yet signed your Society up for ArcScan? </p>
                <a href="/org/orgSignUp" class="block-buttons"> Sign Up Here</a>
            </div>
            <div class="login-blocks">
                <p>Login with your Username and password</p>
                <form method="POST" id="loginForm" action="/auth/orgLogin">
                    <label for="username"><b>Username: </b></label>
                    <input type="text" name="username" required></input>
                    </br>
                    <label for="password"><b>Password: </b></label>
                    <input type="password" name="password" required></input>
                    <input type="submit" value="Login"></input>
                </form>
            </div>
        </div>
	</body>
</html>
