<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1> Successfully signed up to <%= event %> </h1>
    </body>
</html>
