<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <% if (user) { %>
            <p> <a href="/auth/logout"> Log Out </a></p>
        <% } else {%>
            <p> <a href="/student/stuLogin"> Login </a></p>
        <% } %>   
        <p><h1> Enter Event Code: </h1></p>
        <form id="code" method="POST" action="/student/input">
            <p><input type="text" name="inputCode" required pattern="[0-9]{4}"
            oninvalid="setCustomValidity('Invalid Code')" 
            oninput="setCustomValidity('')"
            ></input></p>
            <input type="submit"></input>
            <% if (found == 'false') {%> 
                <p>Invalid Code </p>
            <% } else if (duplicate == 'true') { %>
                <p>You've already signed up to this event!</p>
            <% } else if (event != 'false') { %></p>
                <p>Successfully signed up to <%= event %></p>
            <% } %>
                
        </form>
    </body>
</html>
