<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <p><h1> Enter Code: </h1></p>
        <form id="code" method="POST" action="/student">
            <p><input type="number" name="inputCode"></input>
            <% if (!found) {%> Invalid Code <% } %></p>
            <input type="submit"></input>
        </form>
    </body>
</html>
