<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Login</title>
	</head>
	<body>
            <% include partials/nav.ejs %>
            <form method="POST" id="loginForm" action="/auth/stuLogin">
                <label for="zID"><b>zID: </b></label>
                <input type="text" name="username"></input>
                </br>
                <label for="password"><b>Password: </b></label>
                <input type="password" name="password"></input>

                <input type="submit"></input>
            </form>
                <p> Incorrect username/password </p>
            <p> New User? <a href="/student/stuSignUp"> Sign Up </a></p>
	</body>
</html>
