* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background: white;
	color: black;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.wrap {
	max-width: 800px;
	margin: auto;
}

#index-title, #index-links, #index-footer {
	padding: 30px;
	min-height: 100%;
}
#index-title {
	width: 100%;
	background-color: #3E3C3B;
	color: white;
}
#index-title p{
	margin-top: 20px;
}

.logo{
	color: #A1EF5D;
	font-size:40px;
	font-family: 'Cutive Mono', monospace;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	position: relative;
	box-shadow: inset 0px 0px 0px 6px #82BF4B;
	padding: 10px 15px 10px 15px;
}
.logo:before {
   /* this element will hide the fake border on the top and bottom */
   content:'';
   display: block;
   position: absolute;
   border-top:6px solid #3E3C3B;
   border-bottom:6px solid #3E3C3B;
   /* height = border-width x2 */
   height:calc(100% - 12px);
   top:0;
   /* width = size of fake-border x2 */
   width: calc(100% - 40px);
   /* left = size of fake-border */
   left:20px;
}

.logo:after {
   /* this element will hide the fake border on the left and right */
   /* the rules for width, heigth, top and left will be the opposite of the former element */
   display: block;
   position: absolute;
   content:'';
   border-right:6px solid #3E3C3B;
   border-left:6px solid #3E3C3B;
   height:calc(100% - 40px);
   width: calc(100% - 12px);
   top:20px;
   left: 0;
}

#index-links{
	height: calc(100vh - 172px);
	overflow: hidden;
	text-align: center;
	display:table;
	width: 100%;
}
#index-links a{
	display: table-cell;
	width: calc(50% - 20px);
	padding: 20px;
	text-align: center;
	color: #3E3C3B;
	text-decoration: none;
	border: 1px dashed #E0E0E0;
	height: calc(100vh - 355px);
	vertical-align: middle;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.4s ease-in-out; /*this works in chrome*/

}

#index-links a:hover {
	color: white;
	background-color:#3E3C3B;
}
#index-links .wrap{
	margin-top: 20px;
	display:table;
	width: 100%;
}
#index-links p{
	font-size: 70px;
	color: #82BF4B;
	margin-bottom: 10px;
}
#index-links a:last-of-type {
	margin-left: 20px;
	border-left: none;
}
#footer {
	position:absolute;
	bottom: 0px;
	right: 0px;
	left:0px;
	padding: 20px;
	background-color: #E0E0E0;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 16px;
	}
	#index-links a {
		height: calc(100vh - 395px);
	}
}

#login {
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
	border: 1px solid black;
	background-color: #3E3C3B;
	color: #82BF4B;
	text-align: center;
	margin: auto;
	width: 400px;
	height: 500px;
	left: calc(50% - 200px);
	top: calc(50% - 250px);
}

#login img {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#login-container {
	background-color: #3E3C3B;
	justify-content: center;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	height: 100vh;
	font-size: 16px;
	background-image: radial-gradient(circle, #d2f1b7, #b6de93, #9acc70, #7eb94c, #60a722);
}


.login-blocks{
	height: 400px;
	padding: 30px;
	background-color: white;
	max-width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-blocks.login-right {
	background-color: #3E3C3B;
	max-width: 300px;
	text-align: center;
	color: white;

}
.login-blocks.login-right p {
	margin-bottom: 20px;
}
.login-blocks.login-right h1{
	margin-bottom: 50px;
}

.block-buttons{
	width:100%;
	text-align: center;
	color: black;
	background-color: white;
	letter-spacing: 2px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	position: relative;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: inset 0px 0px 0px 3px #3E3C3B;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.4s ease-in-out; /*this works in chrome*/
}
.block-buttons:hover{
	background-color: transparent;
	color: white;
	border:none;
	box-shadow: inset 0px 0px 0px 3px #82BF4B;
}
.block-buttons:before {
   /* this element will hide the fake border on the top and bottom */
   content:'';
   display: block;
   position: absolute;
   border-top:3px solid #3E3C3B;
   border-bottom:3px solid #3E3C3B;
   /* height = border-width x2 */
   height:calc(100% - 6px);
   top:0;
   /* width = size of fake-border x2 */
   width: calc(100% - 20px);
   /* left = size of fake-border */
   left:10px;
}

.block-buttons:after {
   /* this element will hide the fake border on the left and right */
   /* the rules for width, heigth, top and left will be the opposite of the former element */
   display: block;
   position: absolute;
   content:'';
   border-right:3px solid #3E3C3B;
   border-left:3px solid #3E3C3B;
   height:calc(100% - 20px);
   width: calc(100% - 6px);
   top:10px;
   left: 0;
}

.login-blocks input[type=submit] {
	width: 100%;
	background-color: #82BF4B;
	color: white;
	padding: 14px 20px;
	margin: 4px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;

}
.login-blocks label{
	font-size: 14px;
	font-weight: bold;
}
.login-blocks form{
	padding-top: 20px;
}
.login-blocks input[type=text], .login-blocks input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 4px 0;
	display: inline-block;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
  }

.login-blocks input[type=text]:focus, .login-blocks input[type=password]:focus {
outline: none;
border:2px dashed #3E3C3B;
color: #82BF4B;
}

  @media only screen and (max-width: 630px) {
	.login-blocks {
		min-width: 100%;
		display:block;
		box-shadow:none;
	}
	#login-container {
		display:block;
		background-image:none;
		background-color: white;
	}
}

#signup-body {
	padding: 40px;
}

#signup-body .wrap{
	border: 1px dashed #E0E0E0;
	padding: 30px;
}

#signup-body label{
	font-size: 14px;
	font-weight: bold;
}
#signup-body form{
	padding-top: 20px;
}
#signup-body input[type=text], #signup-body input[type=password], #signup-body input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 4px 0;
	display: inline-block;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
  }

#signup-body input[type=text]:focus, #signup-body input[type=password]:focus, #signup-body input[type=email]:focus {
outline: none;
border:2px dashed #3E3C3B;
color: #82BF4B;
}

#signup-body input[type=submit] {
	width: 100%;
	background-color: #82BF4B;
	color: white;
	padding: 14px 20px;
	margin: 4px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;

}

#signup-body .block-buttons{
	background-color: white;
	margin-top: 10px;
	color: black;
	box-shadow: inset 0px 0px 0px 3px #82BF4B;
}

#signup-body .block-buttons:hover {
	box-shadow: inset 0px 0px 0px 3px #82BF4B;
}
#signup-body .block-buttons:before,#signup-body .block-buttons:after {
	border-color:  white;
}


.error-message {

	font-weight: bold;
	color: red;
}

